h1{
	font-variant: all-petite-caps;
	font-size:200%;
	color: beige;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size:130%;
    color:#40060f;
}
h3{
    font-size:100%;
    padding: 0%;
    margin: 0%;
}
p{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: black;
    font-weight: 5px;
    font-size: 20px;
}
body{
    background-color: #8f044e;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}
.vision{
    margin: 0 2% 0 2%;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 4px 4px 25px #000;
    border-radius: 10%;
    padding: 0 2% 0 2%;
    background-color: #eb9be1;
}
#main{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0%;
}
